$font-family-base:  'Inter', sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "~leaflet/dist/leaflet.css";

$sm-break: map-get($grid-breakpoints, "sm");
$md-break: map-get($grid-breakpoints, "md");
$lg-break: map-get($grid-breakpoints, "lg");
$xl-break: map-get($grid-breakpoints, "xl");


@import "components/navbar";
@import "components/info-card";
@import "components/map";
